---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<p>Sixteen course assignments across two institutions; departmental Outstanding Graduate Teaching Award at both (Tulane University, 2023; University of Texas at Arlington, 2022). I am best prepared to teach theory of computation and the computer systems sequence (computer systems, computer organization, and information security).</p>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
